a {
  color: var(--color-primary);
}

.header {
  background-color: #fff;
}

a:hover {
  color: var(--color-accent-primary);
}

header, a:hover {
  opacity: 0.75;
  transition: all .2s ease-in-out;
}

.cart {
  text-align: right;
}

.active {
  color: var(--color-accent-primary);
}

@media only screen and (min-width: 60em) {

  .nav {
    text-align: right;
  }

}
