.btn {
  background-color: var(--color-accent-primary);
  border-radius: 8px;

  color: #fff;
}

.btn-light {
  background-color: var(--color-accent-secondary);
  border-radius: 8px;

  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-accent-primary);
  border-radius: 8px;

  color: var(--color-accent-primary);
}
