:root {
  --color-primary: #000;
  --color-primary-light: #3b3b3b;
  --color-accent-primary: #f16465;
  --color-accent-secondary: #f88;
  --color-neutral: #e2e2e2;
  --font-primary: "Gloria Hallelujah", sans-serif;
  --font-secondary: "Courier New", courier, monospace;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h2 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h3 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

p {
  font-family: var(--font-secondary);
}

a {
  font-family: var(--font-primary);
  color: var(--color-primary);
  text-decoration: none;
}

ul, ol, dl {
  font-family: var(--font-secondary);
}

mark {
  background-color: var(--color-accent);
}
